
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
  font-family: 'Poiret One', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-image:linear-gradient(rgb(0,0,0,0.75), rgb(0,0,0,0.75)), url('https://images.pexels.com/photos/102129/pexels-photo-102129.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.cwool {
  color: whitesmoke;
}

.productcontainer {
  min-height: 90vh;
}

.listitem {
  display: flex;
  gap: 2em;
  justify-content: space-between;
  margin: 2em;
}
.listitemtwo {
  display: flex;
  gap: 2em;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 2em;
}

.nameanddesc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listheading {
  font-size: 3em;
  margin: 2em 0 1em 0; 
  font-weight: bolder;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.listdesc {
  font-size: 1.7em;
}

.productimage {
  border-radius: 2em;
  overflow: hidden;
  object-fit: cover;
  border-radius: 5em;
}

.clothinglists {
  position: relative;
}

.summerProductsTitle {
 color: teal;
 font-size: 6em;
 text-align: center;
}

.summerlist {
  width: 60%;
  height: 500px;
  margin: 4em auto;
  border-radius: 2em;
}


/* ------------------------navbar */

.navcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e2faf6;
  height: 3em;
  color: black;
}

.submenu {
  display: none;
}

.navcontainer .navlogo a {
  font-size: 1.7em;
  font-weight: bolder;
  padding: 5px;
  letter-spacing: .2em;
  margin-left: .3em;
  text-decoration: none;
  color: #1976d2;
}

.navcontainer .navlogo a:hover {
  cursor: pointer;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.navcontainer li {
  list-style: none;
}

.navcontainer li a {
  font-size: 1em;
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: .2em;
  color: black;
}

.navcontainer li a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: rgb(34, 205, 156);
  border-radius: .2em;
}

.createacc .createbtn {
  font-size: .8em;
  font-family: inherit;
  font-weight: bolder;
  letter-spacing: .2em;
  border: 1px solid #33eb91;
  border-radius: .3em;
  margin-right: 1em;
}

.createacc .createbtn:hover {
  /* background-color: #f50057; */
  background-color: #33eb91;
  
  color: rgb(0, 0, 0);
}

.createacc a {
  text-decoration: none;
}

.createacc .createicon {
  display: none;
}

/*--------------------------------------- */




/* -------------------------------home------------ */
.homeheading {
  padding: .5em 0;
  color: rgba(20, 219, 225, 0.349);
  font-weight: bolder;
  background-color: rgba(0, 191, 184, 0.138);
}

.wintercontainer {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 2em;
}

.wintercontainer .winterclothing {
  /* padding-top: 2em; */
  font-size: 5em;
}



/* -------------------displayprev----------------- */

.displayprev { 
  background-color: #e2faf6;
  border-radius: 2em;
  padding: 2em;
  width: 80%;
  margin: auto;
  margin-top: 8em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.displayprev h2 {
  background-color: #e2faf6;
  color: black;
  font-size:2em;
}


.displayprev img {
  width: 40%;
  border-radius: 1em;
  margin: -7em 0;
}

/* ----------------displayprev2---------- */

.displayprev2 {
  /* background-image:linear-gradient(rgb(0,0,0,0.75), rgb(0,0,0,0.75)), url(./images/cwoolpinkbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed; */
  background: rgb(206,227,21);
  background: linear-gradient(0deg, rgba(22, 255, 158, 0.539) 28%, rgba(55,215,233,0.7122199221485469) 100%);
  margin: auto;
  margin-top: 8em;
  width: 90%;
  border-radius: 2em;
}

.displayprev2 h2 {
  text-align: center;
  font-size: 3em;
  padding: 2em;
}

.snowbackground {
  margin-top: 8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 100%;
  background-color: #1769aa;
  padding: 5px;

}
.snowbackground h1 {
  text-align: center;
  border-radius: 2em;
  padding:2em 0;
  font-size: 2em;

}

.snowbackground img {
  width: 80%;
  border-radius: 1em;
  margin-top: -5em;
  margin-bottom: -5em;
  margin-left: -1em;

}

.snowbackground a {
  color: black;
}



/* ------------------Summer Clothing------------- */

.summercontainer {
  margin-top: 8em;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 1em;

  background-image:linear-gradient(rgb(0,0,0,0.75), rgb(0,0,0,0.75)), url(./images/cwoolpinkbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.summercontainer .summerclothing {
  font-size: 5em;
  text-align: center;
}

.summercontainer .summerprev {
  display: flex;
  margin-top: 2em;
  gap: 1em;
  align-items: center;
  text-align: left;
}

.summerprev img {
  width: 60%;
  border-radius: 2em;
  padding-left: 1em;
}

.summerprev h2 {
  font-size: 2em;
}

.summerprev a {
  text-decoration: none;
  color: rgb(221, 28, 255);
}


/* ----------------About US------------- */

#AboutIdentity {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  color: black;
  width: 100%;
  /* margin-top: 2em; */
  /* border-radius: 1em; */
  padding: 3em;
}

.aboutheading {
  padding-bottom: 20px;
  font-size: 3em;
}

/* ------------------------------------------------------- */

/* ---------------Products page----------------- */

.productone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1em 2em;
  color: rgba(20, 219, 225, 0.349);
  font-weight: bolder;
  background-color: rgba(0, 191, 184, 0.138);
}

.search {
  /* color: azure; */
  background-color: rgb(226,233,240);
  border-radius: .3em;
  padding:.2em .4em;
  display: flex;
  align-items: center;
}

.search {
  width: 20%;
}

.search .searchbox {
  color: black;
  width: 90%;
  text-transform: capitalize;
}

.search a:hover {
  color: red !important; 
}









/* --------------Footer---------------- */
footer .copyright {
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
  color: black;
  font-size: 1.3em;
  padding: 1em;
  gap: 1em;
}

.copyright ul {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.copyright ul li {
  list-style: none;
  border-right: solid 1px black;
  padding-right: 1em;
}

.copyright ul li:nth-child(1){
  border-left: 1px solid black;
  padding-left: 1em;
}

.copyright ul li a {
  text-decoration: none;
}

.copyright ul li a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}




/* -----------------------Responsive mobile design */

@media screen and (max-width: 1280px) {


  .listitem , .listitemtwo{
    display: flex;
    flex-direction: column;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border-top: 5px teal solid;
    border-bottom: 5px teal solid;
    padding: 1rem .5rem;
    border-radius: 1em;
  }

  .productimage {
    margin-bottom: -5rem;
    height: 300px;
  }

  .summercarousel {
    width: 100%;
  }

  .summerlist {
    width: 80%;
  }
}



@media screen and (max-width: 800px) {
  .menu, .submenu .menucontainer {
    display: none;
    
  }

  .summerlist {
    width: 100%;
  }

  .submenu {
    display: flex;
    padding-left: 1em;
    color: #1976d2;
  }

  .submenu:first-child:hover .menucontainer {
    transition: height ease-in 2s;
    display: block;
    position: absolute;
    top: 3em;
    left: 0;
    background-color: #e2faf6;
    text-align: left;
    padding:0 1em;
    z-index: 1;
    
  }

  .menucontainer li {
    padding-bottom: 1em;
  }

  .menucontainer li:first-child {
    padding-top: 1em;
  }


  .navcontainer .navlogo a {
    color: black;
  }

  .createacc .createbtn {
    border: none;
    display: none;
  }

  .createacc .createicon {
    display: flex;
    font-family: inherit;
    font-weight: bolder;
    letter-spacing: .2em;
    margin-right: .5em;
    color: #1976d2;
  }

  .displayprev {
    margin-top: 3em;
  }

  .displayprev2 {
    margin-top: 3em;
  }
}
